.top-bar{
	background-color: $nav-background;

	ul{
		background-color: $nav-background;	
	}
	.menu-text{
		color: $nav-text-color;
		a{
			display: inline;
			padding: 0;
		}
	}
	.active-link{
		font-weight: bold;
	}
}
.top-bar ul{
	
}